# Password
VITE_PASSWORD=your_password

1. Create a new file named `.env` in the root directory of the project.
2. Add your password to the `.env` file:
3. Replace your_password with your actual password.