.productCard {
  max-width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: var(--shadow);
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productCard:hover {
  transform: translateY(-6px);
}

.productCard h6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.productCard span {
  margin-bottom: 10px;
}

.productCard span:last-of-type {
  font-size: 18px;
  font-weight: 300;
}
