.productFilters {
  margin-bottom: 30px;
  display: flex;
  position: relative;
}

.productFilters input,
.productFilters button {
  margin-right: 10px;
}

.filter {
  max-width: 330px;
  margin-right: 10px;
}

.error {
  position: absolute;
  color: var(--error-color);
  top: 70px;
  right: 10px;
}

.submitBtn {
  background-color: var(--search-btn);
  color: white;
  margin-left: auto;
}

.submitBtn:hover {
  background-color: var(--search-btn-hover);
}

.resetBtn {
  background-color: var(--reset-btn);
  color: white;
}

.resetBtn:hover {
  background-color: var(--reset-btn-hover);
}

@media (max-width: 1240px) {
  .productFilters {
    flex-direction: column;
    align-items: center;
  }

  .error {
    top: 255px;
    font-size: 18px;
  }

  .filter {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
